@font-face {
    font-family: 'LucidaGrande-Bold';
    src: url('../fonts/LucidaGrande-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/LucidaGrande-Bold.woff') format('woff'), url('../fonts/LucidaGrande-Bold.ttf') format('truetype'), url('../fonts/LucidaGrande-Bold.svg#LucidaGrande-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LucidaGrande-Regular';
    src: url('../fonts/LucidaGrande-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/LucidaGrande-Regular.woff') format('woff'), url('../fonts/LucidaGrande-Regular.ttf') format('truetype'), url('../fonts/LucidaGrande-Regular.svg#LucidaGrande-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GEDinkum-Bold';
    src: url('../fonts/GEDinkum-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GEDinkum-Bold.woff') format('woff'), url('../fonts/GEDinkum-Bold.ttf') format('truetype'), url('../fonts/GEDinkum-Bold.svg#GEDinkum-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GEDinkum-Regular';
    src: url('../fonts/GEDinkum-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/GEDinkum-Regular.woff') format('woff'), url('../fonts/GEDinkum-Regular.ttf') format('truetype'), url('../fonts/GEDinkum-Regular.svg#GEDinkum-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

:root {
    --mainColor: #26B195;
    --secondColor: #1C2E5A;
}

.mainColor {
    color: var(--mainColor) !important;
}

.secondColor {
    color: var(--secondColor) !important;
}

.mainColor-bg {
    background-color: var(--mainColor) !important;
}

.secondColor-bg {
    background-color: var(--secondColor) !important;
}

.gray-bg {
    background-color: #F7F7F7;
}

body {
    font-family: 'GEDinkum-Regular';
    position: relative;
}

a, a:hover {
    color: #333;
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
}

textarea {
    resize: none;
}

button {
    outline: none !important;
}

.underline {
    text-decoration: underline !important;
}

.agree-to-terms{
    color: var(--mainColor);
    cursor: pointer;
    text-decoration: underline;
}
.agree-to-terms:hover{
    text-decoration: none;
    color: var(--mainColor);
}
@media (min-width: 992px) {
    .container-th {
        max-width: 1060px;
    }

}

@media (max-width: 767.98px) {
    .container-th {
        padding-right: 30px;
        padding-left: 30px;
    }
}

.common-page {
    position: relative;
    display: flex;
    flex: 1;
    min-height: 100vh;
}

.common-title {
    color: var(--mainColor);
    font-size: 28px;
    font-family: 'GEDinkum-Bold';
    border-bottom: 1px solid var(--mainColor);
    padding-bottom: 10px;
}

.common-title.secondColor {
    border-bottom: 1px solid var(--secondColor);
}
.captcha-span img{
    width: 200px;
    border: 2px solid rgb(218, 218, 218);
}

.common-desc {
    font-size: 20px;
    font-family: 'GEDinkum-Bold';
    margin-bottom: 10px;
    color: #7E7E7E;
}

.invalid-feedback,
.valid-feedback {
    padding: 0 15px;
}

.hold-form {
    margin: 30px 0;
}

.hold-form .form-control,
.hold-form .form-control::placeholder {
    color: #1c2e5aa2;
    font-size: 16px;
}

.hold-form .form-group,
.hold-form .input-group {
    margin-bottom: 20px;
}

.inputs-50 .form-group,
.inputs-50 .input-group {
    width: 50%;
}

.hold-form .form-group .form-control,
.hold-form .input-group .form-control {
    color: #1c2e5a;
    min-height: 50px !important;
    padding: 5px 15px;
    background-color: #F1F1F1;
    box-shadow: none;
    border: 1px solid var(--mainColor);
    box-shadow: none;
    border-radius: 25px;
}

.hold-form .custom-control-label {
    color: #7E7E7E;
    font-size: 14px;
    cursor: pointer;
}

.hold-form .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}

.hold-form .custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: transparent;
    background-color: var(--mainColor);
}

.hold-form .custom-control-label::before {
    border-color: #979797;
    background-color: #D8D8D8;
}

.hold-form select.form-control {
    cursor: pointer;
}

.form-inline .custom-control {
    margin-right: 0px;
}

.form-inline .custom-control:last-of-type {
    margin-right: 0px;
}

.hold-form .hold-submit {
    margin: 40px 0;
    display: flex;
}

.btn-submit,
.btn-submit-transpearent {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 190px;
    height: 50px;
    border: 0 !important;
    box-shadow: none;
    outline: none !important;
    border-radius: 25px;
    background-color: var(--mainColor);
    color: #FFF !important;
    text-align: center;
    opacity: 1;
    transition: .3s;
}

.btn-submit-transpearent {
    background-color: transparent;
    color: #7E7E7E !important;
}

.hold-form .hold-submit .btn-submit {
    margin-right: 15px;
}

.hold-form .hold-submit .btn-submit:last-child {
    margin-right: 0px;
}

.btn-submit:hover {
    opacity: .9;
}

.common-btn {
    border: 0 !important;
    box-shadow: none;
    outline: none;
    border-radius: 25px;
    background-color: var(--mainColor);
    color: #FFF;
    text-align: center;
    padding: 8px 20px;
    opacity: 1;
    font-size: 16px;
    transition: .3s;
    min-height: 36px;
}

.have-account {
    color: #7E7E7E;
    font-size: 18px;
    margin: 40px 0;
}

.have-account img {
    padding-left: 10px;
}

.have-account a {
    color: var(--mainColor);
}

@media (min-width: 767.98px) and (max-width: 991.98px) {
    .inputs-50 .form-group,
    .inputs-50 .input-group {
        width: 100%;
    }
}

@media (max-width: 767.98px) {
    .common-desc {
        font-size: 16px;
    }

    .inputs-50 .form-group,
    .inputs-50 .input-group {
        width: 100%;
    }

    .hold-form .hold-submit {
        display: block;
    }

    .hold-form .btn-submit {
        width: 100%;
        padding: 0 20px;
        margin-bottom: 15px;
    }

    .hold-form .hold-submit .btn-submit {
        margin-right: 0px;
    }
}

.custom-file {
    height: 50px;
    max-width: 340px;
    width: 100%;
}

.hold-form .custom-file-input {
    max-width: 90px;
    width: 370px;
}

.hold-form .custom-file-label {
    display: flex;
    align-items: center;
    right: unset;
    border: 0;
    box-shadow: none;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 0;
    padding: 7px 10px;
    background-color: #C7C7C7 !important;
    border-radius: 25px !important;
}

.hold-form .custom-file-label::after {
    display: none;
}

.file-name {
    color: var(--mainColor);
    font-size: 16px;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.file-name::after {
    font-family: 'Font Awesome 5 Free';
    content: "\f00c";
    font-weight: 900;
    margin-left: 10px;
}

.file-name:empty::after {
    display: none;
}

.hold-form .sub-title {
    font-size: 20px;
    color: var(--secondColor);
    font-family: 'GEDinkum-Bold';
    margin-bottom: 30px;
}

.reg-title {
    font-size: 18px;
    color: #7E7E7E;
    margin-bottom: 15px;
}

.label-text {
    font-size: 14px;
    font-family: 'GEDinkum-Bold';
    color: #7E7E7E;
    margin-bottom: 15px;
}

.progress {
    height: 4px;
    padding: 2px 0;
    overflow: unset;
    background-color: #979797;
    margin: 60px 0;
}

.custom-progress {
    height: 8px;
    border-radius: 25px;
    position: relative;
    overflow: unset;
    top: -4px;
    background-color: var(--mainColor);
}

.progress .num {
    position: absolute;
    bottom: -40px;
    right: 0;
    color: #7E7E7E;
    font-size: 22px;
}

.custom-progress:after {
    content: '';
    position: absolute;
    top: auto;
    right: 0;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--mainColor);
}

.noUi-vertical {
    height: 220px !important;
    width: 10px;
    margin: 30px 0 !important;
}

.noUi-target {
    height: 6px;
    padding: 2px 0;
    overflow: unset;
    background: #979797;
    margin: 60px 0;
    border: 0 !important;
    border-radius: 25px;
}

.noUi-connects {
    overflow: unset;
}

.noUi-connect {
    height: 8px;
    border-radius: 25px;
    position: relative;
    overflow: unset;
    top: -4px;
    background: var(--mainColor);
}

.noUi-vertical .noUi-connect {
    height: 100%;
}

.noUi-horizontal .noUi-tooltip {
    bottom: -40px;
    border: 0;
    background-color: transparent;
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: var(--mainColor);
    box-shadow: none;
    cursor: pointer;
    border: 0 !important;
    outline: none !important;
}

.noUi-vertical .noUi-handle {
    right: -8px;
}

.noUi-handle:after, .noUi-handle:before {
    display: none;
}

.noUi-vertical .noUi-tooltip {
    background: #7E7E7E;
    color: #FFF;
    font-size: 36px;
    border-radius: 10px;
    padding: 0 25px;
    line-height: 1.4;
    right: 190%;
}

.noUi-vertical .noUi-tooltip::before {
    content: '';
    position: absolute;
    top: 7px;
    right: -30px;
    border-width: 18px;
    border-style: solid;
    border-color: transparent transparent transparent #7E7E7E;
}

.calculate {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.calculate .box-calc {
    padding-right: 40px;
    position: relative;
}

.calculate .box-calc:last-of-type {
    padding-right: 0;
}

.calculate .box-rm::after{
    content: '' !important;
}
.calculate .box-calc::after,
.calculate .box-calc.result::before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: "\f067";
    color: #7E7E7E;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
}

.calculate .box-calc:nth-child(3)::after {
    display: none;
}

.calculate .box-calc.result::after {
    display: none;
}

.calculate .box-calc.result::before {
    content: "\f52c";
    right: unset;
    left: -30px;
}

.calculate .key,
.calculate .value {
    display: block;
    color: #7E7E7E;
}

.calculate .key {
    font-size: 18px;
}

.calculate .value {
    font-size: 37px;
}

.calculate .value small {
    font-size: 20px;
    display: block;
}

@media (max-width: 1024px) {
    .calculate .box-calc.result {
        margin-top: 30px;
    }

    .calculate .box-calc.result::before {
        position: relative;
        top: -10px;
        left: 0;
    }
}

@media (max-width: 567.98px) {
    .calculate {
        display: block;
    }

    .calculate .box-calc {
        margin-bottom: 20px;
    }

    .calculate .value small {
        display: inline-block;
    }
}

.font-size-12 {
    font-size: 12px !important;
}

.font-size-14 {
    font-size: 14px !important;
}

.font-size-16 {
    font-size: 16px !important;
}

.font-size-18 {
    font-size: 18px !important;
}

.font-size-20 {
    font-size: 20px !important;
}

.bg-gray {
    background-color: #E8E8E8;
}

.bg-gray-bold {
    background-color: #7E7E7E;
}

.bg-gray-bold .reg-text,
.bg-gray-bold .price,
.secondColor-bg .reg-text {
    color: #FFF !important;
}

.modal-common {
    padding: 0 !important;
}

.modal-common .modal-dialog {
    max-width: 100% !important;
}

.modal-common .modal-content {
    border-radius: 0;
}

.modal-common .container-th {
    max-width: 315px;
    margin: 0 0;
    padding-top: 40px;
    padding-bottom: 20px;
}

.modal-common .title {
    font-size: 18px;
    margin-bottom: 30px;
    color: var(--mainColor);
}

.modal-common .desc {
    font-size: 16px;
    color: #7E7E7E;
}

.modal-common .hold-submit {
    margin: 0;
}

.custom-select {
    background: url(../img/arrow-sm-down.png) no-repeat center;
    background-position-x: calc(100% - 20px);
}

@media (min-width: 991.98px) {
    .modal-common .container-th {
        margin: 0 370px;
    }
}

@media (max-width: 991.98px) {
    .modal-common .modal-dialog {
        margin: 0;
    }

    .modal-common .container-th {
        margin: 0 auto;
    }
}

@media (max-width: 576.98px) {
    .hold-form .form-inline {
        display: block;
    }
}

/* start header-sec */
.navbar {
    padding: 0;
}

.navbar-light .navbar-brand {
    padding: 0;
    margin-right: 0;
    margin-left: 1rem;
}

@media (min-width: 767.98px) {
    .navbar-light .navbar-brand {
        margin: 0 !important;
    }
}

.navbar-toggler {
    border: 0 !important;
    border-radius: 0 !important;
    outline: 0 !important;
}

.navbar-toggler i {
    color: var(--mainColor);
}

.main-links {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 40px 0;
}

.main-links .link {
    position: relative;
    display: block;
    border-radius: 25px;
    padding: 10px 20px;
    margin-bottom: 15px;
    min-width: 155px;
    font-size: 18px;
    font-family: 'GEDinkum-Bold';
    text-align: center;
    color: #FFF;
    background-color: #eee;
    opacity: 1;
    transition: .3s;
}

.main-links .link:hover {
    opacity: .9;
}

.main-links .active .link::after,
.main-links .link.active::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -30px;
    transform: rotate(180deg) translateY(50%);
    height: 26px;
    width: 14px;
    background: url(../img/arrow-main.png) center no-repeat;
}

.hold-navv,
.navbar-collapse {
    width: 100%;
}

.main-links .active .link.secondColor-bg::after,
.main-links .link.secondColor-bg.active::after {
    background: url(../img/arrow-second.png) center no-repeat;
}

@media (max-width: 767.98px) {
    .main-links .active .link::after,
    .main-links .link.active::after {
        background: unset !important;
        top: unset;
        display: block;
        right: 50%;
        bottom: -35px;
        transform: translateX(50%);
        width: 20px;
        margin: 0 auto;
        border-style: solid;
        border-color: var(--mainColor) transparent transparent;
        border-width: 18px;
    }

    .main-links .active .link.secondColor-bg::after,
    .main-links .link.secondColor-bg.active::after {
        background: unset !important;
        border-color: var(--secondColor) transparent transparent;
    }
}

.main-links li:last-of-type .link {
    margin-bottom: 0;
}

.navbar .hold-navv .nav-link {
    font-size: 20px;
    padding: 0;
    margin-bottom: 10px;
    color: var(--secondColor);
    opacity: 1;
    transition: .3s;
}

.navbar .hold-navv .nav-link:hover,
.navbar .hold-navv .nav-link.active,
.navbar .hold-navv .active .nav-link {
    opacity: .8;
}

.has-childrin .dropdown-menu {
    border: 0;
    border-radius: 0;
    position: relative;
    left: 15px;
    border-left: 1px solid #D8D8D8;
    padding-left: 15px;
    margin-bottom: 8px;
    float: none;
}

.has-childrin .dropdown-menu .nav-link {
    color: var(--mainColor);
    font-size: 16px;
    position: relative;
}

.has-childrin .dropdown-menu .nav-link::before {
    content: '';
    position: absolute;
    top: 0;
    left: -16px;
    width: 2px;
    height: 100%;
    background-color: var(--mainColor);
    opacity: 0;
    transition: .3s;
}

.has-childrin .dropdown-menu .nav-link:hover::before,
.has-childrin .dropdown-menu .active .nav-link::before,
.has-childrin .dropdown-menu .nav-link.active::before {
    opacity: 1;
}

.has-childrin .dropdown-menu li:last-of-type .nav-link {
    margin-bottom: 0;
}

.hold-user {
    margin: 50px 0 30px;
}

.welcome-user {
    color: #7E7E7E;
    border-bottom: 1px solid #7E7E7E;
    padding-bottom: 10px;
    margin-bottom: 8px;
    font-size: 16px;
}

.welcome-user > span {
    color: var(--mainColor);
}

.welcome-link {
    color: #7E7E7E;
    font-size: 16px;

}

/* end header-sec */
/* start step-menu */
.step-menu {
    margin-top: 25px;
    margin-bottom: 25px;
}

.step-menu .nav-pills .nav-item {
    position: relative;
    z-index: 3;
}

.step-menu .nav-pills .nav-item .nav-link {
    position: relative;
    z-index: 4;
    color: #7E7E7E;
    font-size: 14px;
    font-family: 'GEDinkum-Bold';
    text-align: center;
    transition: 0.3s;
    padding: 10px;
    border-radius: 0;
    min-height: 90px;
}

.step-menu .nav-pills .nav-item .nav-link .num {
    position: relative;
    z-index: 6;
    display: block;
    width: 18px;
    height: 18px;
    line-height: 17px;
    border-radius: 50%;
    background-color: #7E7E7E;
    color: #FFF;
    margin: 0 auto 10px;
}

.step-menu .nav-pills .nav-item .nav-link .num::before {
    content: '';
    position: absolute;
    top: -5px;
    width: 28px;
    height: 28px;
    color: var(--mainColor);
}

.step-menu .nav-pills .nav-item.active .nav-link .num::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 1px solid var(--mainColor);
}

.step-menu .nav-pills .nav-item.active .nav-link {
    background-color: transparent;
}

.step-menu .nav-pills .nav-item.active .nav-link .num,
.step-menu .nav-pills .nav-item.done .nav-link .num {
    background-color: var(--mainColor);
}

.step-menu .nav-pills .nav-item + .nav-item .nav-link::after {
    content: "";
    position: absolute;
    display: inline-block;
    top: 19%;
    z-index: -1;
    left: -109px;
    left: calc(100% - 147%);
    width: 100%;
    height: 5px;
    background-color: #E9E9E9;
}

@media (max-width: 991.98px) {
    .step-menu .nav-pills .nav-item + .nav-item .nav-link::after {
        left: calc(100% - 144%);
    }
}

@media (max-width: 576.98px) {
    .step-menu .nav-pills .nav-item + .nav-item .nav-link::after {
        left: calc(100% - 140%);
    }

    .step-menu .nav-pills .nav-item .nav-link {
        font-size: 12px;
    }
}

.step-menu .nav-pills .nav-item + .nav-item.active .nav-link::after,
.step-menu .nav-pills .nav-item + .nav-item.done .nav-link::after {
    background-color: var(--mainColor);
}

.sub-menu .nav-pills {
    border-bottom: 2px solid #CECECE;
}

.sub-menu .nav-pills .nav-link {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    padding: 18px 25px;
    border-bottom: 2px solid transparent;
    transition: 0.3s;
    margin-bottom: -2px;
    border-radius: 0;
    color: #7E7E7E;
}

.sub-menu .nav-pills .nav-link:hover {
    border-color: var(--mainColor);
}

.sub-menu .nav-pills .nav-link.active,
.sub-menu .nav-pills .show > .nav-link {
    border-color: var(--mainColor);
    background: transparent;
    font-family: 'GEDinkum-Bold';
}

/* jquery validation */
label.error {
    color: #e7505a;
    margin-left: 10px;
    padding: 7px;
}

input.error {
    border: 2px solid #e7505a;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    background-image: none;
    border-color: #dc3545 !important;
}

.form-control.is-valid,
.was-validated .form-control:valid {
    background-image: none;
    border-color: #28a745 !important;
}

@media (max-width: 567.98px) {
    .sub-menu .nav-pills .nav-link.active,
    .sub-menu .nav-pills .show > .nav-link {
        border-color: transparent;
    }

    .sub-menu .nav-pills .nav-link {
        padding: 18px 10px;
    }
}

/* end step-menu */
/* start sidebar-wrapper */
.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    width: 270px;
    padding: 30px 50px 30px 60px;
    border-right: 1px solid var(--mainColor);
}

@media (max-width: 991.98px) and (min-width: 767.98px) {
    .sidebar-wrapper {
        padding: 30px 40px;
    }
}

@media (max-width: 767.98px) {
    .common-page {
        display: block;
    }

    .sidebar-wrapper {
        width: 100%;
        padding: 40px 20px 0;
        border: 0 !important;
    }

    .main-links {
        flex-direction: row;
    }

    .main-links .link {
        margin-right: 10px;
        font-size: 16px;
        min-width: 120px;
    }

    .main-links li:last-of-type .link {
        margin-right: 0;
    }

}

.content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding-top: 125px;
    overflow: hidden;
}

.content-wrapper::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 190px;
    left: 0;
    width: 850px;
    height: 1100px;
    z-index: -1;
    background-image: url(../img/bg-common.png);
    background-size: cover;
    background-position-x: left;
    background-position-y: -24%;
    background-repeat: no-repeat;
}

.navbar .hold-side {
    padding: 0 30px;
}

@media (max-width: 767.98px) {
    .content-wrapper {
        padding-top: 0;
        background-image: unset;
    }
}

.to-map {
    display: none;
    border: 1px solid #D8D8D8;
    height: 400px;
    width: 100%;
    margin: 30px 0 45px;
    box-shadow: 0 0 7px 0px rgba(0, 0, 0, .2);
}

/* start project-box */
.project-box {
    background-color: #FFF;
    box-shadow: 0px 2px 18px #888;
    border-radius: 5px;
    border: 1px solid var(--mainColor);
    margin-top: 10px;
}

.project-box .hold-content {
    padding: 20px 20px 10px;
    color: var(--secondColor);
}

.content-top {
    border-bottom: 1px solid #979797;
    padding-bottom: 15px;
    margin-bottom: 10px;
}

.hold-content .title {
    font-size: 24px;
    font-family: 'GEDinkum-Bold';
}

.hold-content .reg-text {
    font-size: 18px;
    display: block;
}

.hold-content .price {
    display: block;
    color: var(--mainColor);
    font-size: 36px;
    margin-top: -5px;
}

.hold-content .price small {
    font-size: 20px;
}

.project-box .content-bottom .info {
    overflow: hidden;
    height: 54px;
}

.project-box .hold-link a {
    height: 74px;
    padding: 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #FFF;
    background-color: var(--mainColor);
    transition: .2s;
    opacity: 1;
}

.project-box .hold-link a:hover {
    opacity: .85;
}

.project-box .hold-link a img {
    padding-right: 20px;
}

.link-add {
    font-size: 20px;
    color: var(--mainColor) !important;
    display: flex;
    align-items: center;
    transition: .3s;
}

.link-add:hover {
    opacity: .9;
}

.link-add i {
    padding-left: 20px;
}

.orange {
    color: #E1A700 !important;
}

.green {
    color: #44E100 !important;
}

.red {
    color: #FF4040 !important;
}

.sm-boxes {
    display: flex;
    flex-wrap: wrap;
}

.sm-boxes .one-box {
    background-color: #FFF;
    box-shadow: 0px 2px 18px #888;
    border-radius: 5px;
    border: 1px solid var(--mainColor);
    margin-top: 10px;
    padding: 20px;
    min-width: 180px;
    margin-right: 18px;
    margin-bottom: 10px;
}

.one-box .key-value {
    display: flex;
    justify-content: space-around;
}

.one-box.secondColor-bg .key-value .reg-text {
    color: #FFF !important;
}

.one-box hr {
    margin: .5rem 0;
    border-top: 1px solid #FFF;
}

.one-box .key-value .num {
    color: var(--mainColor);
    font-size: 16px;
}

.border-second.sm-boxes .one-box {
    border-color: var(--secondColor) !important;
}

.border-second.sm-boxes .one-box .reg-text {
    font-weight: bold;
    color: var(--secondColor);
}

.border-second.sm-boxes .one-box .price,
.border-second.sm-boxes .one-box .price small {
    font-weight: bold;
}

.sm-boxes .one-box:first-child {
    min-width: 270px;
}

.sm-boxes.hold-content .one-box:first-child {
    min-width: auto;
}

.sm-boxes.hold-content .one-box:last-child {
    min-width: 270px;
}

.bank-list {
    display: flex;
    align-items: center;
}

.bank-list .link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7E7E7E;
    font-size: 24px;
    /* min-width: 140px; */
    height: 67px;
    padding: 15px 20px;
    border: 1px solid #7E7E7E;
    border-radius: 5px;
    margin-right: 15px;
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.1);
    transition: .3s;
}

.bank-list .link.active,
.bank-list .link:hover {
    border-color: var(--mainColor);
    box-shadow: 0 2px 18px rgba(0, 0, 0, 0.3);
}

.bank-list li:last-of-type .link {
    margin-left: 0;
    margin-right: 0;
}

@media (max-width: 567.98px) {
    .bank-list .link {
        padding: 15px 10px;
    }
}

/* end project-box */

/* start common-table */
.common-table {
    max-width: 670px;
    margin-bottom: 40px;
}

.common-table thead {
    font-size: 18px;
    color: var(--secondColor);
}

.common-table tbody {
    font-size: 18px;
}

.common-table tbody tr {
    font-size: 16px;
    color: var(--mainColor);
    background-color: #FFF;
    border-bottom: 1px solid var(--mainColor) !important;
}

.common-table tbody tr.secondColor-bg,
.common-table tbody tr.mainColor-bg {
    color: #FFF !important;
}

.common-table tbody tr td {
    padding: 15px;
    position: relative;
    min-width: 160px;
}

.common-table tbody tr td:after {
    content: '';
    width: 1px;
    height: 50%;
    background-color: var(--mainColor);
    position: absolute;
    top: 15px;
    right: 0;
}

.common-table tbody tr td:first-of-type {
    border-left: 1px solid var(--mainColor) !important;
}

.common-table tbody tr td:last-of-type {
    border-right: 1px solid var(--mainColor) !important;
}

.common-table tbody tr.mainColor-bg td:after,
.common-table tbody tr.secondColor-bg td:after {
    background-color: #FFF;
}

.common-table tbody tr td:last-of-type:after {
    display: none !important;
}

/* end common-table */

/* start faqs-sec */
.accordion-sec {
}

.accordion-sec .card {
    border: 0;
    border-radius: 12px;
    box-shadow: 0px 0px 35.64px 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin-bottom: 20px;
}

.accordion-sec .card-header {
    padding: 20px;
    border: 0;
    background-color: #FFF;
    position: relative;
}

.accordion-sec .card-header h5 {
    font-size: 16px;
    font-family: 'GEDinkum-Bold';
    max-width: 90%;
    color: var(--mainColor);
}

.accordion-sec .card-header .btn {
    white-space: normal;
    background-color: transparent;
    color: var(--mainColor);
    box-shadow: none;
    outline: 0;
    padding: 0;
    text-align: left;
    transition: .3s;
}

.accordion-sec .card-header .btn i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: var(--mainColor);
    border-radius: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.accordion-sec .card-header .btn.collapsed i {
    background-color: transparent;
}

.accordion-sec .card-header .btn.collapsed .fa-plus:before {
    content: "\f067";
}

.accordion-sec .card-header .btn .fa-plus:before {
    content: "\f068";
}

.accordion-sec .card-body {
    padding: 5px 20px 20px;
    color: #808080;
    font-family: 'GEDinkum-Regular';
}

.accordion-sec .card-body p {
    font-size: 15px;
    text-align: justify;
}

@media (max-width: 767.98px) {
    .accordion-sec .card-header {
        padding: 10px;
    }

    .accordion-sec .card-header h5 {
        max-width: 80%;
    }
}

/* end faqs-sec */
/* start profile sec */
.profile-menu {
    max-width: 50%;
    margin-bottom: 30px;
}

.profile-menu ul {
    padding: 30px 0;

}

.profile-menu ul li {
    border-bottom: 1px solid #979797;
    margin-bottom: 5px;
}

.profile-menu ul li:last-of-type {
    border-bottom: 0;
}

.profile-menu ul .nav-link {
    font-size: 18px;
    font-family: 'GEDinkum-Regular';
    color: #7E7E7E;
    position: relative;
    transition: .3s;
}

.profile-menu ul .nav-link:hover,
.profile-menu ul .nav-link.active,
.profile-menu ul .active .nav-link {
    color: var(--mainColor);
}

.profile-menu ul .nav-link::after {
    content: '';
    position: absolute;
    right: 10px;
    top: 15px;
    width: 8px;
    height: 13px;
    transform: rotate(180deg);
    background: url(../img/arrow-sm.png) no-repeat center;
    background-size: contain;
}

.breadcrumb {
    padding: 15px 0;
    margin-bottom: 0;
    background: transparent;
}

.breadcrumb .breadcrumb-item {
    font-size: 14px;
}

.breadcrumb-item.active {
    font-family: 'GEDinkum-Bold';
    color: var(--secondColor);
}

.breadcrumb .breadcrumb-item a {
    color: var(--secondColor);
}

.breadcrumb-item + .breadcrumb-item::before {
    content: '';
    background: url(../img/arrow-sm.png) no-repeat;
    width: 8px;
    height: 13px;
    position: relative;
    top: 3px;
    margin: 0 10px;
}

@media (max-width: 767.98px) {
    .profile-menu {
        max-width: 100%;
    }
}

/* end profile sec */

.hold-vertical {
    /* height: 220px; */
    position: relative;
}

.hold-vertical .from-to {
    font-size: 16px;
    color: var(--secondColor);
    font-family: 'GEDinkum-Bold';
}

.hold-vertical .from-to > span {
    display: block;
}

/* start home page */
.bg-sidebar .sidebar-wrapper {
    border: 0;
    background-color: #F8F8F8;
    position: relative;
    z-index: 1;
}

.bg-sidebar .sidebar-wrapper::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-color: #FFF;
    z-index: 2;
}

.img-bg-none::after {
    background-image: none;
}

.bg-cover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.welcom-sec {
    position: relative;
    z-index: 4;
    height: 900px;
    background-color: rgba(38, 177, 149, .5);
}

.welcom-sec::after {
    content: '';
    position: absolute;
    bottom: -120px;
    right: 30px;
    width: calc(100% - 30px);
    height: 710px;
    background: url(../img/Fill.png) no-repeat right;
    z-index: 2;
}

.welcom-sec .owl-carousel {
    z-index: 6;
}

.welcom-sec .one-slide {
    position: relative;
    width: 100%;
    height: 900px;
    background-color: rgba(38, 177, 149, .5);
    z-index: 4;
}

.welcom-sec .one-slide::after {
    content: '';
    position: absolute;
    bottom: -120px;
    right: 30px;
    width: calc(100% - 30px);
    height: 710px;
    background: url(../img/Fill.png) no-repeat right;
    z-index: 5;
}

.welcom-sec .one-slide .content {
    height: 100%;
    position: relative;
    right: 10%;
    z-index: 6;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #FFF;
}

.welcom-sec .one-slide .content p {
    font-size: 36px;
}

.owl-theme .owl-nav.disabled + .owl-dots {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 34%;
    right: 10%;
    z-index: 6;
}

.carousel-imgs.owl-theme .owl-nav.disabled + .owl-dots {
    position: static !important;
    text-align: center !important;
    margin-top: 30px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 20px;
    height: 20px;
    border-radius: 0;
    transform: rotate(45deg);
    background: #FFF;
}

.carousel-imgs.owl-theme .owl-dots .owl-dot span {
    background-color: #7E7E7E;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: var(--mainColor);
}

@media (min-width: 992px) {
    .owl-theme .owl-nav.disabled + .owl-dots {
        max-width: 860px;
    }

}

@media (max-width: 991.98px) {
    .welcom-sec,
    .welcom-sec .one-slide {
        height: 500px;
    }

    .welcom-sec::after,
    .welcom-sec .one-slide::after {
        display: none;
    }

    .owl-theme .owl-nav.disabled + .owl-dots,
    .welcom-sec .one-slide .content {
        right: 10%;
    }

    .welcom-sec .one-slide .content p {
        font-size: 20px;
    }

    .owl-theme .owl-nav.disabled + .owl-dots {
        bottom: 10px;
    }

    .owl-theme .owl-dots .owl-dot span {
        width: 18px;
        height: 18px;
    }
}

.why-sec,
.how-sec {
    position: relative;
    z-index: 1;
    padding: 65px 0;
}

.why-sec::after {
    content: '';
    position: absolute;
    top: 30px;
    right: 0;
    width: 850px;
    height: 1100px;
    z-index: -1;
    background-image: url(../img/bg-common.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.how-sec::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 0px;
    width: 550px;
    height: 550px;
    z-index: -1;
    background-image: url(../img/after.png);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.heading-sec,
.heading-sec-sm {
    font-size: 36px;
    font-family: 'GEDinkum-Bold';
    color: var(--mainColor);
    margin-bottom: 30px;
}

.heading-sec-sm {
    font-size: 24px;
}

.box {
    padding: 0 20px;
}

.box .title {
    font-size: 24px;
    font-family: 'GEDinkum-Bold';
    color: var(--mainColor);
    margin-bottom: 12px;
}

.box .hold-excerpt {
    color: #7E7E7E;
    font-size: 18px;
}

.box .percent {
    color: var(--mainColor);
    font-size: 40px;
    display: block;
    margin-top: -15px;
}

.box .more {
    color: var(--mainColor);
    font-size: 18px;
    display: inline-block;
}

.how-box.box {
    padding: 0;
}

.how-box.box .title,
.how-box.box .hold-excerpt {
    color: #FFF;
}

.box .hold-num {
    position: relative;
}

.box .hold-num::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 60px;
    width: 100%;
    max-width: 223px;
    height: 26px;
    background: url(../img/num.png) no-repeat center;
}

.box .hold-num > span {
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    display: inline-block;
    font-size: 28px;
    border-radius: 5px;
    background-color: var(--secondColor);
    color: #FFF;
}

.box .hold-icon {
    margin: 30px 0 25px;
}

.how-row > div:last-of-type .box .hold-num::after {
    display: none;
}

.slide-how-sec {
    position: relative;
}

.slide-how-sec::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--mainColor);
    width: 100%;
    height: 190px;
}

.one-img {
    width: 100%;
    max-height: 600px;
    overflow: hidden;
}

.one-img img {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .2);
    width: auto;
    /* object-fit: cover;
    width: 100%;
    height: 100%; */
}

@media (max-width: 991.98px) {
    .slide-how-sec::before {
        height: 90px;
    }
}

.supply-sec,
.partner-sec,
.media-sec,
.available-sec {
    padding: 50px 0;
}

.hold-partner {
    display: block;
    max-width: 162px;
    margin: 0 auto 30px;
}

.see-all {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    background-color: #FFF;
    color: #676767;
    border: 1px solid var(--mainColor);
    min-width: 190px;
    padding: 15px 20px;
    font-size: 18px;
    opacity: 1;
    border-radius: 30px;
}

.opisit {
    background-color: var(--mainColor);
    color: #FFF;
    border: 1px solid #FFF;
}

.see-all:hover {
    background-color: var(--mainColor);
    color: #FFF;
    border: 1px solid #FFF;
}

.opisit:hover {
    background-color: #FFF;
    color: #676767;
    border: 1px solid var(--mainColor);
}

.media-sec .w-box {
    align-items: center;
    background-color: #FFF;
    padding: 20px;
}

.media-sec .w-box .hold-logo {
    width: 90px;
    max-width: 90px;
    overflow: hidden;
    margin-right: 15px;
}

.media-sec .w-box .media-body {
    font-size: 14px;
    color: #7E7E7E;
}

.media-sec .w-box .media-body p {
    margin-bottom: 0;
}

.informative {
    font-size: 36px;
    color: var(--secondColor);
    line-height: 1.3;
    margin: 15px 0 45px;
}

.informative .num-big {
    display: block;
    font-size: 48px;
    font-family: 'GEDinkum-Bold';
}

.informative .num-big small {
    font-size: 36px;
}

.do-sub {
    font-size: 20px;
    color: #676767;
    margin-bottom: 10px;
}

.subscribe-form {
    max-width: 650px;
}

.subscribe-form .form-control {
    background-color: #F1F1F1;
    color: var(--secondColor);
    font-size: 16px;
    border-radius: 30px !important;
    height: 50px;
    box-shadow: none !important;

}

.subscribe-form .submit-btn {
    position: relative;
    right: -40px;
    display: inline-block;
    background-color: var(--mainColor);
    color: #FFF;
    opacity: 1;
    transition: .3s;
    border-radius: 30px;
    min-width: 190px;
    text-align: center;
    border: 0;
    height: 50px;
}

.subscribe-form .submit-btn:hover {
    opacity: .8;
}

@media (max-width: 567.98px) {
    .media-sec .w-box {
        display: block;
    }

    .media-sec .w-box .hold-logo {
        margin-bottom: 20px;
    }

    .informative {
        font-size: 30px;
    }

    .informative .num-big {
        font-size: 40px;
    }

    .informative .num-big small {
        font-size: 30px;
    }

    .subscribe-form {
        display: block;
    }

    .subscribe-form .submit-btn {
        margin-top: 15px;
        right: unset;
    }
}

/* end home page */
/* start footer-sec */
.footer-sec {
    padding: 50px 0;
}

.footer-sec .contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-bottom: 1px solid #D8D8D8;
}

.footer-sec .contact-info .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 24px;
    font-family: 'GEDinkum-Bold';
    color: #7E7E7E;
}

.social {
    padding: 0;
    display: flex;
    align-items: center;
}

.social a {
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin-right: 28px;
    color: #000;
}

.social li:last-of-type a {
    margin-right: 0;
}

.footer-sec .contact-info .info p {
    margin-bottom: 0;
}

.footer-sec .description {
    font-size: 14px;
    color: #676767;
    text-align: justify;
}

.footer-sec .copyright {
    color: #676767;
    margin-bottom: 0;
    font-size: 14px;
}

.links-menu {
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.links-menu a {
    font-size: 14px;
    font-family: 'GEDinkum-Bold';
    color: var(--mainColor);
    margin-right: 20px;
    transition: .3s;
    opacity: 1;
}

.links-menu a:hover {
    opacity: .8;
}

.links-menu li:last-of-type a {
    margin-right: 0px;
}

@media (max-width: 991.98px) {
    .footer-sec {
        padding: 25px 0;
    }

    .footer-sec .contact-info .info {
        margin-bottom: 15px;
        font-size: 22px;
    }

    .footer-sec .description {
        line-height: 19px;
    }

    .links-menu {
        justify-content: flex-start;
        margin-top: 15px;
    }
}

@media (max-width: 767.98px) {
    .footer-sec .contact-info {
        justify-content: center;
    }
}

/* end footer-sec */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

html {
    scroll-behavior: smooth;
}

/* Scrollbar styles */
.scroll {
    overflow: auto;
}

.scroll-users::-webkit-scrollbar,
.scroll::-webkit-scrollbar,
.scroll-chat::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.scroll-users::-webkit-scrollbar-track,
.scroll::-webkit-scrollbar-track,
.scroll-chat::-webkit-scrollbar-track {
    border-radius: 50px;
}

.scroll-users::-webkit-scrollbar-thumb,
.scroll::-webkit-scrollbar-thumb,
.scroll-chat::-webkit-scrollbar-thumb {
    background: #999;
    border-radius: 50px;
}

.scroll-users::-webkit-scrollbar-thumb:hover,
.scroll::-webkit-scrollbar-thumb:hover,
.scroll-chat::-webkit-scrollbar-thumb:hover {
    background: #999;
}


/* ADD in last line in css FILE */
/* start Notify */
.noty-rows {
    margin: 50px 0;
}

.noty-rows .noty-col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 35px 0px;
    border-bottom: 1px solid #CCC;
}

.noty-rows .noty-col:last-of-type {
    border-bottom: 0;
}

.noty-rows .noty-col .text,
.noty-rows .noty-col .text p {
    font-family: 'GEDinkum-Bold';
    margin-bottom: 0;
    color: #7E7E7E;
    text-align: right;
}

@media (max-width: 767.98px) {
    .noty-rows .noty-col .text,
    .noty-rows .noty-col .text p {
        font-size: 14px;
    }
}

.noty-rows .noty-col .swetch {
    min-width: 80px;
}

.swetch .custom-switch .custom-control-label::after {
    background-color: #FFF;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    top: 8px;
    left: 5px;
    right: unset;
    cursor: pointer;
}

.swetch .custom-control-label::before {
    transition: .3s;
    left: 0px;
    right: unset;
    background-color: #CCC;
    width: 60px;
    height: 34px;
    border-radius: 30px;
    border: 0 !important;
    box-shadow: unset !important;
    cursor: pointer;
}

.swetch .custom-control-input:not(:disabled):active ~ .custom-control-label::before,
.swetch .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #26b195 !important;
    /* border-color: #26b195; */
}

.custom-switch .custom-control-input:checked ~ .custom-control-label::after {
    transform: translateX(25px);
}

/* end Notify */


#password-form .indicator {
    height: 10px;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: none;
}

#password-form .indicator span {
    position: relative;
    height: 100%;
    width: 100%;
    background: lightgrey;
    border-radius: 5px;
}

#password-form .indicator span:nth-child(2) {
    margin: 0 3px;
}

#password-form .indicator span.active:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

#password-form .indicator span.weak:before {
    background-color: #ff4757;
}

#password-form .indicator span.medium:before {
    background-color: orange;
}

#password-form .indicator span.strong:before {
    background-color: #23ad5c;
}

#password-form .text {
    font-size: 16px;
    font-weight: 500;
    display: none;
    margin-bottom: -10px;
    text-align: center;
}

#password-form .text.weak {
    color: #ff4757;
}

#password-form .text.medium {
    color: orange;
}

#password-form .text.strong {
    color: #23ad5c;
}

.password-indicator {
    margin-bottom: 20px;
}

.terms-invalid-feedback {
    display: none;
}


/* ADD in last line in style FILE */
/* start pages-new */
.common-title.title-page {
    font-size: 35px;
    border-bottom: 0;
    margin-bottom: 30px;
}

.content-page {
    font-size: 18px;
    color: #7E7E7E;
}

.content-page ul {
    position: relative;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0;
}

.content-page li {
    position: relative;
    color: #7E7E7E;
    font-size: 18px;
    padding-left: 35px;
    margin-bottom: 20px;
}

.content-page li::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 4px;
    width: 12px;
    height: 15px;
    border-radius: 2px;
    background-color: #26B195;
    transform: rotate(45deg);
}

.navbar .hold-navv .nav-link.active,
.navbar .hold-navv .active .nav-link {
    opacity: 1;
    font-family: 'GEDinkum-Bold';
}

.content-page li h3,
.content-page li h4,
.content-page li h5,
.content-page li h6 {
    font-family: 'GEDinkum-Bold';
    color: #1c2e5a;
}

.bg-sidebar .has-childrin .dropdown-menu {
    background-color: transparent;
}

.group-content {
    margin-bottom: 50px;
}

.sub-page-title {
    font-size: 27px;
    color: #26B195;
    margin-bottom: 20px;
    font-family: 'GEDinkum-Bold';
}

.sub-page-title.sub-small {
    font-size: 24px;
}

.group-content .accordion-sec .card-header h5,
.group-content .accordion-sec .card-header h5 .btn {
    color: #1c2e5a !important;
    font-size: 18px;
}

.group-content .accordion-sec .card-header {
    padding: 15px;
}

.group-content .accordion-sec .card-body p {
    font-size: 17px;
}

.group-content .link-add {
    display: inline-block;
    font-size: 18px;
    color: #FFF !important;
    padding: 8px 30px 10px;
    border-radius: 25px;
}

.address-info {
    font-size: 18px;
    font-family: 'GEDinkum-Bold';
}

.rtl-num {
    display: inline-block;
    direction: ltr;
}

.address-info .details {
    font-family: 'GEDinkum-Regular';
    color: #7E7E7E;
}

.bold-t {
    font-size: 20px;
    font-family: 'GEDinkum-Bold';
    color: #7E7E7E;
}

.how-sec-investor.how-sec::after {
    display: none;
}

.welcom-sec-investor.welcom-sec,
.welcom-sec-investor.welcom-sec .one-slide {
    height: 450px;
}

.welcom-sec-investor.welcom-sec .one-slide .content {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.welcom-sec-investor .page-name {
    font-size: 35px;
    font-family: 'GEDinkum-Bold';
    margin-bottom: 50px;
}

.welcom-sec-investor .title {
    font-size: 28px;
    font-family: 'GEDinkum-Bold';
    margin-bottom: 18px;
}

.welcom-sec-investor .des {
    font-size: 24px !important;
    max-width: 400px;
}

.avail-investor.available-sec {
}

.why-sec-investor {
    background-color: #F8F8F8;
}

.why-sec-investor::after {
    display: none;
}

.avail-investor .do-sub {
    font-size: 24px;
}

.avail-investor .common-btn {
    display: inline-block;
    color: #FFF;
    padding: 10px 20px;
}

.step-content-investor .calculate .value small {
    display: inline-block;
}

.step-content-investor .calculate .value {
    font-size: 35px;
}

@media (max-width: 767.98px) {
    .header-sec {
        position: relative;
        z-index: 7;
    }

    .bg-sidebar .sidebar-wrapper {
        background-color: #FFF;
    }

    .welcom-sec-investor.welcom-sec .one-slide .content {
        position: static;
        padding: 0 15px;
    }

    .heading-sec, .heading-sec-sm {
        font-size: 30px;
    }

    .avail-investor .do-sub {
        font-size: 20px;
    }
}

.our-way {
    padding: 80px 0;
}

.our-way .title-way {
    font-size: 28px;
    margin-bottom: 8px;
}

.our-way .content-page p {
    max-width: 670px;
}

.our-way ul li {
    color: #26B195;
    margin-bottom: 5px;
    font-family: 'GEDinkum-Bold';
}

/* end pages-new */


.bg-sidebar .sidebar-wrapper::after {
    max-height: 500px;
    height: auto;
}


/*.hold-vertical-h,*/
.hold-vertical{

    display: flex;
    align-items: center;
    width: 100%;

}


.hold-vertical-h .from-to {
    min-width: 174px;
}

#invest_vertical {
    width: 100%;
    margin: 0 30px;
}
 .cutom_class p{
     font-family: 'GEDinkum-Regular';
     color: #7E7E7E;}
.secondColor p {
    color: #26b195 !important;
}

.referancenumber_date{
    text-align: unset !important;
}

.email-profile{
    word-break: break-word;
}

#laoding-logo{
    background: #f2eeee url(../img/loading.gif) no-repeat center center;
    height: 100%;
    width: 100%;
    background-size: 10%;
    position: fixed;
    z-index: 100;
}
